{% extends "base.twig" %}
{% block content %}
    <section id="main" class="wrapper">
        <div class="align-center">
            <div class="container">
                <h2>Incorrect token validation</h2>
                <p>The token you are trying to validate has already been validated or it's not valid.</p>

                <a href="/" class="button">Go back to home</a>

            </div>
        </div>
    </section>
{% endblock %}