{% extends "base.twig" %}
{% block content %}
    <section id="main" class="wrapper">
        <div class="container">
            <div class="container">
                <h1>Correct token validation</h1>
                <p>Now you can login in the web.</p>
                <a href="/sign-in" class="button">Login now</a>

            </div>
        </div>
    </section>
{% endblock %}